/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
  font-family: sans-serif;
  font-weight: 600;
}

.container {
  width: 75%;
  margin: 0 auto;
  padding: 4em;
  background-color: grey;
}

.row {
  text-align: center;
  padding-bottom: 5em;
}

/* articles */
article {
  width: calc(80% / 3);
  height: 600px;
  background-color: orangered;
  position: relative;
  display: inline-block;
  margin: 20px 5px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.row .article-a {
  background-image: url(../img/1.webp);
}
.row .article-b {
  background-image: url(../img/2.webp);
}
.row .article-c {
  background-image: url(../img/3.webp);
}
.row .article-d {
  background-image: url(../img/4.webp);
}
.row .article-e {
  background-image: url(../img/5.webp);
}
.row .article-f {
  background-image: url(../img/6.webp);
}

/* articles labels */

/* #eb0037 rosso
#00875a verde */

/* articles text */
.description {
  position: absolute;
  top: 100%;
  padding-top: 5px;
}

p {
  text-align: left;
}

.description .brand {
  font-size: 0.6rem;
}

.price .new::after,
.old::after {
  content: "\20AC";
}

.new {
  color: red;
}

.old {
  font-size: 0.9rem;
  text-decoration: line-through;
}
