/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
  font-family: sans-serif;
  font-weight: 600;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 4em;
  background-color: grey;
}

.row {
  text-align: center;
  padding-bottom: 5em;
}

/* articles */
article {
  width: calc(90% / 3);
  height: 600px;
  background-color: orangered;
  position: relative;
  display: inline-block;
  margin: 20px 5px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.row .article-a:hover {
  background-image: url(../img/1b.webp);
}
.row .article-b:hover {
  background-image: url(../img/2b.webp);
}
.row .article-c:hover {
  background-image: url(../img/3b.webp);
}
.row .article-d:hover {
  background-image: url(../img/4b.webp);
}
.row .article-e:hover {
  background-image: url(../img/5b.webp);
}
.row .article-f:hover {
  background-image: url(../img/6b.webp);
}

.row .article-a {
  background-image: url(../img/1.webp);
}
.row .article-b {
  background-image: url(../img/2.webp);
}
.row .article-c {
  background-image: url(../img/3.webp);
}
.row .article-d {
  background-image: url(../img/4.webp);
}
.row .article-e {
  background-image: url(../img/5.webp);
}
.row .article-f {
  background-image: url(../img/6.webp);
}

/* articles labels */
.labels {
  position: absolute;
  bottom: 25px;
}

.labels * {
  color: white;
  display: inline-block;
  padding: 3px 5px;
}

.labels .discount {
  background-color: #eb0037;
}
.labels .discount::after {
  content: "\0025";
}
.labels .eco {
  background-color: #00875a;
}

/* favourite */
.favourite {
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  border-radius: 50% 0 0 50%;
  border-right: none;
  position: absolute;
  right: 0;
  top: 30px;
  font-size: 2rem;
  line-height: 3rem;
}
.favourite .heart {
  cursor: pointer;
}
.favourite .heart::after {
  content: "\2665";
}
.favourite .heart:hover {
  color: red;
}

/* articles text */
.description {
  position: absolute;
  top: 100%;
  padding-top: 5px;
}

p {
  text-align: left;
}

.description .brand {
  font-size: 0.6rem;
}

.price .new::after,
.old::after {
  content: "\20AC";
}

.new {
  color: red;
}

.old {
  font-size: 0.9rem;
  text-decoration: line-through;
}
