/* generics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.clearfix {
  clear: both;
  content: "";
  display: table;
}

#main-container {
  margin: 0 auto;
  width: 75%;

  /* rimuove spazio in eccesso aggiuggendo margin al figlio*/
  overflow: auto;
}

/* box of all cards */
.card-box {
  width: 90%;
  margin: 80px auto;
}

/* products box */
.card {
  width: calc(100% / 3 - 20px);
  margin: 10px;
  float: left;
}

.img-box {
  position: relative;
  cursor: pointer;
}

.description-box {
  padding-bottom: 10px;
}

.img-box > img {
  width: 100%;
}

/* text */
.description-box .product-name {
  text-transform: uppercase;
}
.description-box .new {
  font-weight: bold;
  color: red;
}
.description-box .old,
.brand {
  font-size: 0.8rem;
}

/* images */
.img-box .img-b {
  display: none;
}
.img-box:hover .img-b {
  display: inline-block;
}
.img-box:hover .img-a {
  display: none;
}

/* labels */
.labels {
  position: absolute;
  bottom: 5%;
}
.labels * {
  display: inline-block;
  padding: 2px 5px;
  color: white;
  font-weight: bold;
}
.discount {
  background-color: #eb0037;
}
.eco {
  background-color: #00875a;
}
/* favourite */
.favourite {
  position: absolute;
  right: 0;
  top: 5%;
  font-size: 35px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding-left: 10px;
  cursor: pointer;
  /* border */
  border: 1px solid black;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-right: none;
}
.favourite:hover {
  color: red;
}
